
@import url("navi.css");
@import url("social.css");
html{
	overflow-y:scroll;
}
body{
	margin:0; 
	padding:0; 
	font-size:12px; 
	font-family:verdana, Arial, Helvetica, sans-serif; 
	color:#333333; 
	background-color:#FFFFFF;
}

.justify{text-align:justify;}
.bold{font-weight:bold;}
.center{text-align:center;}
.right{text-align:right;}
.nostart{margin:0; padding:0; list-style-type:none;}

.clear{clear:both;}
br.clear{
	clear:both; 
	margin-top:-15px;
}

a{
	outline:none; 
	text-decoration:none;
}
.h{
	color: red;
}
.wrapper1 {
    width:100%;
    position:fixed;
    z-index:10;
    background:inherit;
}
.centered {
    position: absolute;
    top: 30%;
    left: 30%;
    transform: translate(-50%, -50%);
    font-size: 30px;
}
.bo{
    margin-top: 11%;
    margin-left: 20%;
    bottom: 14%;
    background: rgba(0, 0, 0, 0.5); /* Black background with transparency */
    color: #f1f1f1;
    width: 50%;
    border: 1px solid;
    padding: 20px;
    font-size: 20px;
    font-family: fantasy;
}
div.wrapper{
	display:block; 
	width:100%; 
	margin:0; 
	text-align:left;
}
div.wrapper h1, 
div.wrapper h2{
	margin:0; 
	padding:0;
	font-size:20px; 
	font-weight:normal; 
	line-height:normal; 
	font-family:Georgia, "Times New Roman", Times, serif;
}
article{
	width: 100%;
}
img{
	width: 100%;
}

.shadow {
  box-shadow: 0 18px 14px -14px white;
 }
.col0{
	color:#FFFFFF; 
	background-color:#2D3134; 
	border-top:5px solid #4A5155;
}
.col1{
	 background-color:#2D3134;
	 position: fixed;
	 display: block;
}
.col1 a{
	color:#C4C5C3; 
	box-shadow: 0 18px 14px -14px white;
}
.col2{
	background-color:#02ACEE; 
	padding:15px 0;
}
.col3{
	color:#666666; 
	background-color:#FFFFFF;
}
.col3 a{
	color:#02ACEE; 
	background-color:#FFFFFF;
}
.col4{
	color:#CCCCCC; 
	background-color:#2A2B2F;
}
.col4 a{
	color:#02ACEE; 
	background-color:#2A2B2F;
}
.col5, .col5 a{
	color:#666666; 
	background-color:#1B1B1B;
}

#header,#topnav, #homecontent, #footer, #copyright{
	display:block; 
	position:relative; 
	width:960px; 
	margin:0 auto;
}

/* ----------------------------------------------Header------------------------------------- */

#header{
	padding:0 0 20px 0;
}
#header #logo{
	display:block; 
	float:left; 
	width:300px; 
	margin-top:7px; 
	overflow:hidden;
}
#header #logo h1, 
#header p, 
#header ul{
	margin:0; 
	padding:0; 
	list-style:none; 
	line-height:normal;
}
#header #logo h1{
	font-size:32px;
	color: white;
    text-shadow: 4px 4px 8px white;
}


/* ----------------------------------------------Homepage------------------------------------- */
#homecontent{
	padding:30px 0;
	line-height:1.3em;
}
#homecontent ul{
	margin:0; 
	padding:0; 
	list-style:none;
}
#homecontent p.readmore{
	font-weight:bold; 
	text-align:right;
}

/* Left Column */

#homecontent .fl_left{
	display:block; 
	float:left; 
	width:530px;
}
#homecontent .fl_left .column2{
	display:block; 
	width:530px;
}
#homecontent .fl_left li{
	display:block; 
	float:left; 
	width:250px; 
	margin:0 30px 30px 0; 
	padding:0;
}
#homecontent .fl_left li.last{
	margin-right:0;
}
#homecontent .fl_left p.readmore{
	display:block; 
	width:240px; 
	padding:5px; 
	text-align:right; 
	line-height:normal; 
	font-weight:bold;
}

/* Right Column */

#homecontent .fl_right{
	display:block;
	float:right; 
	width:385px;
}
#homecontent .fl_right li{
	display:block; 
	width:385px; 
	margin:0 0 10px 0; 
	padding:0 0 8px 0; 
	border-bottom:1px dotted #999999;
}

#content{
	display:block; 
	float:left; 
	width:600px;
}

/* ----------------------------------------------Column------------------------------------- */

#column{
	display:block;
	float:right;
	 width:300px;
}
#column .holder, #column #featured{
	display:block; 
	width:300px; 
	margin-bottom:20px;
}
#column .holder h2.title{
	display:block; 
	width:100%; 
	height:65px; 
	margin:0; 
	padding:15px 0 0 0; 
	font-size:20px; 
	line-height:normal; 
	border-bottom:1px dotted #999999;
}
#column .holder p.readmore{
	display:block; 
	width:100%; 
	font-weight:bold; 
	text-align:right; 
	line-height:normal;
}


/* ----------------------------------------------Footer------------------------------------- */
footer{
}
#footer h2, #footer p, #footer ul, #footer a{
	margin:0; 
	padding:0; 
	font-weight:normal; 
	list-style:none; 
	line-height:normal;
}
#footer h2{
	font-size:18px; 
	font-weight:normal; 
	margin-bottom:10px; 
	padding-bottom:8px; 
	border-bottom:1px dotted #999999;
}
#footer li{margin-bottom:5px;}
#footer p,#footer a{
	margin:0; 
	padding:0; 
	font-weight:normal; 
	list-style:none; 
	line-height:normal;
}
#footer .footbox{
	display:block; 
	float:left; 
	width:180px; 
	margin:0 15px 0 0; 
	padding:0;
}
#footer .last{margin:0;}

/* ----------------------------------------------Copyright------------------------------------- */

#copyright{
	padding:15px 0;
}
#copyright p{
	margin:0; 
	padding:0;
}